#extra1								//lines in top of hte page
	height: 75px
	width: 100%
	background: transparent url(../img/images/black_lines1.jpeg) repeat-x
	opacity: 0.01
	z-index: 100
	position: absolute

#extra2							//shadow under the menu
	width: 140px
	height: 70px
	border-radius: 2px
	box-shadow: 0 0 25px 3px rgba(104,104,104,0.4)
	z-index: -1

#extra3							//to-top button
	display: none
	width: 50px
	height: 50px
	position: fixed
	bottom: 50px
	right: 50px
	background: url(../img/images/arrow_upward_white.svg) #B2AC9F
	background-size: cover
	cursor: pointer
	opacity: 0.4
	border: 2px solid white
	border-radius: 20%

#extra4						//small label in left-top of the page
	width: 20px
	height: 150px
	position: relative
	top: 50px
	background: transparent url(../img/images/atu3.jpeg) no-repeat
	background-size: 100%
