.header
	background-color: #FFFFFF
	width: 100%
	padding-bottom: 35px
	background: linear-gradient(to bottom, #E8E5DF, #FFFFFF)

.header h1
	padding-top: 95px
	height: 0
	overflow: hidden 																							/*to hide principal text*/
	background: transparent url(../img/images/title2.png) 0 0 no-repeat			/*the name in header*/
	background-size: 90%
	width: 200px
	position: relative
	top: 67px
	left: 30px

.header hr
	height: 3px
	background-color: #D8D4CB
	border: none

.header hr.right
	float: right
	margin-right: 30px
	width: 60%

.header hr.left
	float: left
	width: 1.3%
	margin-left: 25px
